body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  text-align: center;
}

.calculator {
  margin: 5% auto;
  width: 25%;
  text-align: center;
  border-radius: 10px;
  background-color: thistle;
}

.calculator-header {
  background-color: black;
  color: white;
  border-radius: 10px 10px 0 0;
}

.bill-amount {
  margin-top: 10%;
}

.service {
  margin-top: 10%;
}

.service select {
  width: 40%;
}

.service select option {
  text-align: center;
}

.people {
  margin-top: 10%;
}

.people input {
  width: 25%;
}

.button {
  margin-top: 10%;
  font-size: 2rem;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin-bottom: 10%;
  opacity: .7;
}

.button:hover {
  opacity: 1;
  transition: .3s;
}